@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body{
  font-family: "Kalam", cursive;
  background-color: #834FE8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3A305E;
}
h1{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-size: 2.5rem;
}
#color, #textcolor{
  border: none;
  padding: 10px;
  margin-top: 5px;
  background-color: #3A305E;
  border-radius: 10px;
  color: #B5B2C0;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
